.weather-icon {
    max-width: 100px;
    max-height: 100px;
}

#current-uv-index {
    display: inline-block;
}

.search-bar-break {
    width: 95%;
    border: 2px solid lightgrey;
    margin: 20px auto 20px auto;
}